body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-text-size-adjust 100
  font-family: YakuHanJP_Noto,'Noto Sans JP', sans-serif;
  background-color #fafafa

  img 
    width 100%
