---
import Layout from "../components/Layout.astro"; 
---

<Layout>
	<section class="p-kv">
    <img src="/kv.jpg" alt="ロングショット">
    <p class="c-profile_copyright is-right">メインビジュアル:鈴木健太</p>
  </section>
  <main class="c-wrapper">
    <section class="c-content">
      <h2 class="c-hdg--main">ロングショット</h2>
      <p class="c-lead">
        作：鈴木健太
        <br>
        演出：生西康典
        <br>
        出演：飴屋法水・首藤なずな・高山玲子・橋本清(ブルーノプロデュース、y/n)・畠山峻(円盤に乗る派、people太)
        <span>(五十音順)</span>
        <br>
        制作：三井朝日(IE-イエ-)
      </p>
    </section>
    <section class="c-content">
      <h3 class="c-hdg">日程</h3>
      <p class="c-lead">
        3/24(金)　◆19:00
        <br>
        3/25(土)　◆14:00　◆19:00
        <br>
        3/26(日)　◆13:00　◆18:00
        <br>
        計5公演
        <br>
        受付開始・開場は開演の30分前
      </p>
    </section>
    <section class="c-content">
      <h3 class="c-hdg">会場</h3>
      <p class="c-lead">
        スタジオ空洞
        <br>
        <a href="http://studiokudoh.blogspot.com" target="_blank">http://studiokudoh.blogspot.com</a>
        <br>
        住所：東京都豊島区池袋3-60-5　地下1階
        <br>
        アクセス：JR線・東武線・西武線・東京メトロ各線「池袋駅」西口下車　徒歩12分
      </p>
      <div class="c-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3238.6007541733875!2d139.705846515294!3d35.7360362345716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d5f6220601f%3A0xf5c2235241840c8b!2z44K544K_44K444Kq56m65rSe!5e0!3m2!1sja!2sjp!4v1676715006098!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </section>
    <section class="c-content">
      <h3 class="c-hdg">料金</h3>
      <p class="c-lead">
        前売：3,500円
        <br>
        当日：3,800円
        <br>
        ※全て当日精算になります。精算時は現金のみ承ります。
        <br>
        当日券は立ち見席となる可能性がございます。
        <br>
        残席状況・追加席情報は本公演のTwitterアカウントにて随時発信致します。
        <br>
        Twitter：<a href="https://twitter.com/longshot_2023" target="_blank">@longshot_2023</a>
        <br>
        <br>
        ※車椅子などをご利用のご来場者様、未就学児連れのご来場者様は、指定席準備などのご対応をさせていただく場合がございます。お手数ですが事前にお問合せ先にご連絡の上、個別ご相談ください。
      </p>
    </section>
    <section class="c-content">
      <h3 class="c-hdg">予約</h3>
      <p class="c-lead">
        受付開始：3/3(金)21:00から
        <br>
        <a href="https://www.quartet-online.net/ticket/longshot2023" target="_blank">https://www.quartet-online.net/ticket/longshot2023</a>
        <br>
        こちらのURLよりご予約をお願い致します。
        <br>
        ※ページが開けない場合、お問合せ先にご予約希望内容をご送付ください。
      </p>
    </section>
    <section class="c-content">
      <h3 class="c-hdg">お問合せ先</h3>
      <p class="c-lead">
        <a href="mailto:longshot.inquiry@gmail.com" target="_blank">longshot.inquiry@gmail.com</a>
      </p>
    </section>
    <section class="c-content">
      <h3 class="c-hdg">ご来場の皆様へ</h3>
        <ul class="c-lead">
          <li>新型コロナウィルス感染防止のため、来場時の検温、手指消毒、マスク着用へのご協力をお願い致します。37.5°C以上の発熱がある方、また感染の疑いがある方はご来場をお控えください。来場時に発熱が確認された場合、入場をお断りさせていただく場合がございます。</li>
          <li>演者および公演関係者は小屋入り前のPCR検査を行います。</li>
          <li>公演中、出演者はマスクを外して発声致します。また、演者の発声は観客席の最前列から1m以上離れて行います。ご了承ください。</li>
          <li>感染症を要因に、公演内容や開演時間の変更、中止、延期などが急遽決まる場合がございます。その際は改めて告知致します。</li>
          <li>開演時間までにご来場されない場合、立ち見席や見切れ席になる可能性がございます。また、途中入場は演出の都合上すぐにご入場いただけない場合がございます。お時間にゆとりをもってご来場ください。
          </li>
        </ul>
    </section>
    <section class="c-content">
      <h3 class="c-hdg">ステートメント</h3>
      <p class="c-lead">
        〈生西康典〉
        <br>
        演出するとはどういうことなのか。自分がしていることが演出であるのか。ますます分からなくなっています。
        <br>
        そんなことはさておき今回の公演では、僕はこれを書いている今現在、7人の人たちを集めた言い出しっぺとしています。まず５人の出演者の方々に関して。飴屋法水さん、高山玲子さん、橋本清さん、畠山峻さん、首藤なずなさん。この人たちが舞台上で何をするのだろう、それが観てみたいということが自分の一番の関心ごととして声をかけさせてもらいました。だから誰々に何々をしてもらいたいというようなことは（これから少しは起こるとは思います
        が）、二次的なことでしかありません。今回、出演をお願いをした方々は舞台に出演されたりもしますが、演出家であったり、アーティストであったり、音響を手がける人であったりします。舞台を降りれば、スポーツの指導員であったり、福祉関係の仕事をされていたりであったりもします。僕自身は演出家でもアーティストでも無いんじゃないかという気がどうもしていますが、とりあえず半休業状態の講師であったり、ひとりの子供の父親であったりします。
        <br>
        いずれにしても、自分ひとりが上演される作品の方向づけをするようなことはまったく望んでおらず、特定の誰かではなく、それぞれがそれぞれの考えで、影響も与え合いながら、舞台上に何かを持ち込んでくれることを望んでいますし、僕がそう望まなくとも自然にそうなるだろうとも思っています。
        <br>
        サラダにドレッシングをふりかけるとき、よく振って分離した成分を混ぜ合わせてはじめて美味しく食べられるように。そして時間が経てばまた分離していくように帰って行く。もちろん、僕らはドレッシングではないので、同じ瓶の中にずっといるわけではないし、来た時と帰って来た時、中身は入り混じって少しづつ変わっているかもしれない（そう。人と付き合うというのは常に自分変わってしまう可能性を含んでいる。何とも楽しくて怖いことですね）。
        <br>
        そしてそれは出演者の方々についてだけではなく、今回制作をお願いしたIE-イエ-という演劇の団体を主催する演出家でもある三井朝日さん。『日々の公演』をはじめコラボレーションを続けている作者である鈴木健太さん。
        <br>
        そうした人たちも含めて、出演者、制作、作者、演出？という枠をこえて、みんなの持ち込むものが合わさったものが、上演されるものであることを望みます。そもそも枠を超えて関わり合わないと成立しないようなある意味では貧しい公演です。その貧しさは言い出しっぺとしては心苦しい面もありますが、心地よくもあれば嬉しい。
        <br>
        とにかく、このような素晴らしいメンバーで集って何かを立ち上げられる機会を得られたということは有り難い限りです。観に来られる方達にとっても、良い体験でありますように。

      </p>
    </section>
    <section class="c-content">
      <h3 class="c-hdg">プロフィール</h3>
      <div class="c-profile_wrap">
        <div class="c-profile_item">
          <p class="c-profile_name">鈴木健太<span>Kenta Suzuki
          </span></p>
          <p class="c-lead">1993年生。デザイン・音楽・演劇作品の制作と発表。2015年武蔵野美術大学視覚伝達デザイン学科卒。同年、美学校実作講座『演劇　似て非なるもの』第2期修了。バンド「山二つ」で主にギター、ボーカル。</p>
          <div class="c-profile_img--only">
            <img src="/profile/suzuki.jpg" alt="鈴木健太">
          </div>
        </div>
        <div class="c-profile_item">
          <p class="c-profile_name">生西康典<span>Yasunori Ikunishi
          </span></p>
          <p class="c-lead">1968年生まれ。美学校　実作講座「演劇　似て非なるもの」講師。舞台やインスタレーション、映像作品の演出などを手がける。作品がどのようなカタチのものであっても基本にあるのは人とどのように恊働していくか。自分自身を形作っていると信じられている殻がとけた時にはじめて現れる「その人」が見たい。その時「人」はありとあらゆるものと触れあっているだろう。 近作は『抱えきれないたくさんの四季のために』（2022、SCOOL)、『棒ダチ　私だけが長生きするように』(2021、Tokyo Real Underground)。主なインスタレーション作品に『おかえりなさい、うた　Dusty Voices , Sound of Stars』 (2010、東京都写真美術館)。書籍:『芸術の授業 BEHIND CREATIVITY』(中村寛 編、共著、弘文堂)。 </p>
          <div class="c-profile_img--only">
            <img src="/profile/ikunishi.jpg" alt="生西康典">
          </div>
        </div>
        <div class="c-profile_item">
          <p class="c-profile_name">飴屋法水<span>Norimizu Ameya
          </span></p>
          <p class="c-lead">いろいろやってきました。今も、ゆっくりと、何かしらやっています。
          </p>
          <div class="c-profile_img">
            <img src="/profile/ameya.jpg" alt="飴屋法水">
          </div>
          <p class="c-profile_copyright">©花代
          </p>
        </div>
        <div class="c-profile_item">
          <p class="c-profile_name">首藤なずな<span>Nazuna Shuto
          </span></p>
          <p class="c-lead">1994年生まれ<br>
            武蔵野美術大学芸術文化学科卒業<br>
            子どもの頃合唱やミュージカルをやっていて、歌うこと、踊ることが好きになる。<br>
            音響や身体表現などをしながら、舞台作りを少しずつ続けている。
            </p>
          <div class="c-profile_img--only">
            <img src="/profile/syuto.jpg" alt="首藤なずな">
          </div>
        </div>
        <div class="c-profile_item">
          <p class="c-profile_name">高山玲子<span>Reiko Takayama
          </span></p>
          <p class="c-lead">アーティスト・俳優・体メンテナンス体操主宰。京都府出身。演劇ってなんなんだろ、どこからどこまでを演劇っていうのか、解体してパーツだけで組み立てたものをみんななんて呼ぶのかな、みたいな演劇作品を作っている。2019年・2020年 ACY-U39アーティストフェローシップ。<br><a href="https://decoyamadecoco.wixsite.com/home" target="_blank">https://decoyamadecoco.wixsite.com/home</a>
          </p>
          <div class="c-profile_img">
            <img src="/profile/takayama.jpg" alt="高山玲子">
          </div>
          <p class="c-profile_copyright">©Hideto Maezawa</p>
        </div>
        <div class="c-profile_item">
          <p class="c-profile_name">橋本清<span>Kiyoshi Hashimoto
          </span></p>
          <p class="c-lead">1988年生まれ。演出家／俳優。日本大学芸術学部演劇学科演出コース卒業。2007年、ブルーノプロデュースを立ち上げ。2012〜15年、坂あがりスカラシップ対象者。近年の演出作品に青年団リンク キュイ『景観の邪魔』（2019）、青年団若手自主企画 櫻内企画『マッチ売りの少女』（2020）。これまでに生西康典、小田尚稔、カゲヤマ気象台、田中功起、得地弘基、蜂巣もも、ミヤギフトシ、山内晶、和田華子等の作品に出演。2019年からは批評家・ドラマトゥルクの山﨑健太とともにy/nとして舞台作品を発表。</p>
          <div class="c-profile_img">
            <img src="/profile/hashimoto.jpg" alt="橋本清">
          </div>
          <p class="c-profile_copyright">
            撮影：山端拓哉
          </p>
        </div>
        <div class="c-profile_item">
          <p class="c-profile_name">畠山峻<span>Shun Hatakeyama
          </span></p>
          <p class="c-lead">1987年北海道札幌市生まれ。舞台芸術学院演劇部本科58期卒。円盤に乗る派プロジェクトメンバー。people太。円盤に乗る派「仮想的な失調」、亜人間都市「草、生える」日々の公演2「抱えきれないたくさんの四季のために」カゲヤマ気象台「QUAD」等に出演。細々と戯曲を書いたりもしてます。</p>
          <div class="c-profile_img">
            <img src="/profile/hatakeyama.jpg" alt="畠山峻">
          </div>
          <p class="c-profile_copyright">撮影：三野新
          </p>
        </div>
        <div class="c-profile_item">
          <p class="c-profile_name">三井朝日<span>Asahi Mitsui
          </span></p>
          <p class="c-lead">1995年生まれ。武蔵野美術大学造形学部彫刻学科卒。<br>
            「IE-イエ-」にて、代表・作·演出などをつとめる。たまに出演したりもする。<br>
            美学校「演劇 似て非なるもの」9期生。「劇のやめ方」2期生。
          </p>
          <div class="c-profile_img">
            <img src="/profile/mitsui.jpg" alt="三井朝日">
          </div>
          <p class="c-profile_copyright">撮影：小林克彰
          </p>
        </div>
      </div>
    </section>
    <p class="c-copyright">© longshot 2023</p>
  </main>
</Layout>