---
import '../assets/styles/app.styl'
---

<html lang="ja">
	<head>
    <title>ロングショット</title>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="title" content="ロングショット">
    <meta name="description" content="2023年3月24日~26日で上演されるロングショットの公演情報ページです">
    <meta name="keywords" content="飴屋法水・高山玲子・橋本清(ブルーノプロデュース、y/n)・畠山峻(円盤に乗る派、people太)・首藤なずな
    ">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="ロングショット">
    <meta property="og:description" content="2023年3月24日~26日で上演されるロングショットの公演情報ページです">
    <meta property="og:image" content="/ogp.jpg">
    <meta property="og:site_name" content="ロングショット">
    <meta name="twitter:card" content="summary_large_image">

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.4.1/dist/css/yakuhanjp-noto.min.css">
		<title>Astro</title>
	</head>
	<body>
		<slot />
	</body>
</html>
